MSSQL_SA_PASSWORD=MSSQL_SA_PASSWORD
APP_DB_USER=APP_DB_USER
APP_DB_PASSWORD=APP_DB_PASSWORD!
DB_CONN_STRING=Server=localhost,1433;Database=TiendaDB;User Id=APP_DB_USER;Password=APP_DB_PASSWORD!;TrustServerCertificate=True;